/* mobile */
html {
  font-size: 14px;
}
/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 16px;
  }
}
/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 18px;
  }
}
/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 20px;
  }
}


.css-selector {
  background: linear-gradient(270deg, #c1f0e4, #f8e5f2, #f2f1c7, #d0d9f2, #f0d3c1);
  background-size: 1000% 1000%;

  -webkit-animation: ChatterBackground 59s ease infinite;
  -moz-animation: ChatterBackground 59s ease infinite;
  animation: ChatterBackground 59s ease infinite;
}

@-webkit-keyframes ChatterBackground {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes ChatterBackground {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes ChatterBackground {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}


* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  
  /* background: #FEAC5E;
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  
  background: #83a4d4;  
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
  background: linear-gradient(to right, #b6fbff, #83a4d4); 
 */

  background: linear-gradient(270deg, #c1f0e4, #f8e5f2, #f2f1c7, #d0d9f2, #f0d3c1);
  background-size: 1000% 1000%;

  -webkit-animation: ChatterBackground 59s ease infinite;
  -moz-animation: ChatterBackground 59s ease infinite;
  animation: ChatterBackground 59s ease infinite;



  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: 'Karla', sans-serif;
}

.header {
  /* background: rgba(255,255,255,0.4); */
  /* border-bottom: 1px solid white; */
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #545454;
}

.logo {
  height: 2.8rem;
  width: 2.8rem;
  /* background: url(https://emoji.slack-edge.com/T01HUNLEC2E/partyparrot/f239540fcb56c0b4.gif); */
  /* background: url(./img/parrot.gif); */
  background: url(./img/plant-logo.png);
  background-repeat: no-repeat;
  background-origin: center;
  background-size: cover;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow: auto;
}

.message-row {
  width: 100%;
}

.message {
  /* background: black; */
  background:  rgba(255,255,255,0.6);
  color: #545454;
  border-radius: 8px;
  margin: 4px;
  display: inline-block;
  padding: 4px 12px;
  font-size: 0.8rem;

  /* display: flex;
  justify-content: left;
  background: none;
  border-radius: 0;
  border-left: 2px solid white;
  text-align: left; */
}

.text-input {
  /* background: rgba(255,255,255,0.2);
  border-top: 1px solid white; */
  height: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button {
  position:absolute;
  right:0.65rem;
  top:0.5rem;
  border-radius:100%;
  border:1px solid white;
  background:white;
  color:black;
  cursor: pointer;
  outline:none;
  height:1.4rem;
  width:1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;


  border-radius: 0.1rem;
  border: none;
  background: none;
  font-size: 1.2rem;;
}

.send-button > svg {
  color: white;
}

.send-button[disabled] {
  /* background: grey;
  cursor: default; */
}

.send-button[disabled] > svg {
  /* color: white; */
  color: #e5e5e5;
}

.input {
  height: 1.65rem;
  width: calc(100% - 1rem);
  background:rgba(0, 0, 0, 0.5);
  border-radius: 0.8rem;
  outline: none;
  border: 1px solid white;
  color: white;
  padding-left: 10px;
  font-family: 'Karla', sans-serif;
  font-size: 0.8rem;



  height: 1.65rem;
  width: calc(100% - 1rem);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  border: none;
  outline: none;
  color: white;
  padding-left: 10px;
  font-family: 'Karla', sans-serif;
  font-size: 0.8rem;
  /* margin-bottom: 5px; */
  /* background-image: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%); */
}

.input::placeholder {
  /* color: #bbbbbb; */
  color: #e5e5e5;
}