/* mobile */
html {
  font-size: 14px;
}
/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 16px;
  }
}
/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 18px;
  }
}
/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 20px;
  }
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #FEAC5E;
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background: rgba(255,255,255,0.4);
  border-bottom: 1px solid white;
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.logo {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 10px;
  /* background: url(https://emoji.slack-edge.com/T01HUNLEC2E/partyparrot/f239540fcb56c0b4.gif); */
  background: url(./img/parrot.gif);
  background-repeat: no-repeat;
  background-origin: center;
  background-size: cover;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow: auto;
}

.message-row {
  width: 100%;
}

.message {
  background: black;
  color: white;
  border-radius: 10px;
  margin: 4px;
  display: inline-block;
  padding: 4px 12px;
}

.text-input {
  background: rgba(255,255,255,0.2);
  border-top: 1px solid white;
  height: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button {
  position:absolute;
  right:0.65rem;
  top:0.5rem;
  border-radius:100%;
  border:1px solid white;
  background:white;
  color:black;
  cursor: pointer;
  outline:none;
  height:1.4rem;
  width:1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button[disabled] {
  background: grey;
  cursor: default;
}

.send-button > svg {
  color: black;
}

.send-button[disabled] > svg {
  color: white;
}

.input {
  height: 1.65rem;
  width: calc(100% - 1rem);
  background:rgba(0, 0, 0, 0.5);
  border-radius: 0.8rem;
  outline: none;
  border: 1px solid white;
  color: white;
  padding-left: 10px;
}